
src/.vs/FacultadApp/config/applicationhost.config

src/.vs/FacultadApp/DesignTimeBuild/.dtbcache

src/.vs/FacultadApp/v16/.suo

src/.vs/FacultadApp/v16/Server/sqlite3/db.lock

src/AlumnosApp/bin/Debug/netcoreapp2.1/AlumnosApp.deps.json

src/AlumnosApp/bin/Debug/netcoreapp2.1/AlumnosApp.runtimeconfig.dev.json

src/AlumnosApp/bin/Debug/netcoreapp2.1/AlumnosApp.runtimeconfig.json

src/AlumnosApp/bin/Debug/netcoreapp2.1/AlumnosAppSvc.deps.json

src/AlumnosApp/bin/Debug/netcoreapp2.1/AlumnosAppSvc.dll

src/AlumnosApp/bin/Debug/netcoreapp2.1/AlumnosAppSvc.pdb

src/AlumnosApp/bin/Debug/netcoreapp2.1/AlumnosAppSvc.runtimeconfig.dev.json

src/AlumnosApp/bin/Debug/netcoreapp2.1/AlumnosAppSvc.runtimeconfig.json

src/AlumnosApp/bin/Debug/netcoreapp2.1/appsettings.Development.json

src/AlumnosApp/bin/Debug/netcoreapp2.1/appsettings.json

src/AlumnosApp/bin/Debug/netcoreapp2.1/FacultadAppSvc.deps.json

src/AlumnosApp/bin/Debug/netcoreapp2.1/FacultadAppSvc.dll

src/AlumnosApp/bin/Debug/netcoreapp2.1/FacultadAppSvc.pdb

src/AlumnosApp/bin/Debug/netcoreapp2.1/FacultadAppSvc.runtimeconfig.dev.json

src/AlumnosApp/bin/Debug/netcoreapp2.1/FacultadAppSvc.runtimeconfig.json

src/AlumnosApp/bin/Debug/netcoreapp2.1/Properties/launchSettings.json

src/AlumnosApp/obj/AlumnosApp.csproj.nuget.cache

src/AlumnosApp/obj/AlumnosApp.csproj.nuget.dgspec.json

src/AlumnosApp/obj/AlumnosApp.csproj.nuget.g.props

src/AlumnosApp/obj/AlumnosApp.csproj.nuget.g.targets

src/AlumnosApp/obj/AlumnosAppSvc.csproj.nuget.cache

src/AlumnosApp/obj/AlumnosAppSvc.csproj.nuget.dgspec.json

src/AlumnosApp/obj/AlumnosAppSvc.csproj.nuget.g.props

src/AlumnosApp/obj/AlumnosAppSvc.csproj.nuget.g.targets

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosApp.AssemblyInfo.cs

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosApp.AssemblyInfoInputs.cache

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosApp.assets.cache

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosApp.csproj.FileListAbsolute.txt

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosApp.csprojAssemblyReference.cache

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosApp.RazorAssemblyInfo.cache

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosApp.RazorAssemblyInfo.cs

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosApp.RazorTargetAssemblyInfo.cache

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosAppSvc.AssemblyInfo.cs

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosAppSvc.AssemblyInfoInputs.cache

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosAppSvc.assets.cache

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosAppSvc.csproj.FileListAbsolute.txt

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosAppSvc.csprojAssemblyReference.cache

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosAppSvc.dll

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosAppSvc.pdb

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosAppSvc.RazorAssemblyInfo.cache

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosAppSvc.RazorAssemblyInfo.cs

src/AlumnosApp/obj/Debug/netcoreapp2.1/AlumnosAppSvc.RazorTargetAssemblyInfo.cache

src/AlumnosApp/obj/Debug/netcoreapp2.1/FacultadAppSvc.AssemblyInfo.cs

src/AlumnosApp/obj/Debug/netcoreapp2.1/FacultadAppSvc.AssemblyInfoInputs.cache

src/AlumnosApp/obj/Debug/netcoreapp2.1/FacultadAppSvc.assets.cache

src/AlumnosApp/obj/Debug/netcoreapp2.1/FacultadAppSvc.csproj.FileListAbsolute.txt

src/AlumnosApp/obj/Debug/netcoreapp2.1/FacultadAppSvc.csprojAssemblyReference.cache

src/AlumnosApp/obj/Debug/netcoreapp2.1/FacultadAppSvc.dll

src/AlumnosApp/obj/Debug/netcoreapp2.1/FacultadAppSvc.pdb

src/AlumnosApp/obj/Debug/netcoreapp2.1/FacultadAppSvc.RazorAssemblyInfo.cache

src/AlumnosApp/obj/Debug/netcoreapp2.1/FacultadAppSvc.RazorAssemblyInfo.cs

src/AlumnosApp/obj/Debug/netcoreapp2.1/FacultadAppSvc.RazorTargetAssemblyInfo.cache

src/AlumnosApp/obj/FacultadAppSvc.csproj.nuget.cache

src/AlumnosApp/obj/FacultadAppSvc.csproj.nuget.dgspec.json

src/AlumnosApp/obj/FacultadAppSvc.csproj.nuget.g.props

src/AlumnosApp/obj/FacultadAppSvc.csproj.nuget.g.targets

src/AlumnosApp/obj/project.assets.json

src/AlumnosAppSvcTest/obj/AlumnosAppSvcTest.csproj.nuget.cache

src/AlumnosAppSvcTest/obj/AlumnosAppSvcTest.csproj.nuget.dgspec.json

src/AlumnosAppSvcTest/obj/AlumnosAppSvcTest.csproj.nuget.g.props

src/AlumnosAppSvcTest/obj/AlumnosAppSvcTest.csproj.nuget.g.targets

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/AlumnosAppSvcTest.AssemblyInfo.cs

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/AlumnosAppSvcTest.AssemblyInfoInputs.cache

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/AlumnosAppSvcTest.assets.cache

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/AlumnosAppSvcTest.csproj.CopyComplete

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/AlumnosAppSvcTest.csproj.FileListAbsolute.txt

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/AlumnosAppSvcTest.csprojAssemblyReference.cache

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/AlumnosAppSvcTest.dll

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/AlumnosAppSvcTest.pdb

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/FacultadAppSvcTest.AssemblyInfo.cs

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/FacultadAppSvcTest.AssemblyInfoInputs.cache

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/FacultadAppSvcTest.assets.cache

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/FacultadAppSvcTest.csproj.CopyComplete

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/FacultadAppSvcTest.csproj.FileListAbsolute.txt

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/FacultadAppSvcTest.csprojAssemblyReference.cache

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/FacultadAppSvcTest.dll

src/AlumnosAppSvcTest/obj/Debug/netcoreapp3.1/FacultadAppSvcTest.pdb

src/AlumnosAppSvcTest/obj/FacultadAppSvcTest.csproj.nuget.cache

src/AlumnosAppSvcTest/obj/FacultadAppSvcTest.csproj.nuget.dgspec.json

src/AlumnosAppSvcTest/obj/FacultadAppSvcTest.csproj.nuget.g.props

src/AlumnosAppSvcTest/obj/FacultadAppSvcTest.csproj.nuget.g.targets

src/AlumnosAppSvcTest/obj/project.assets.json
